absl-py==0.11.0
alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
application-utility==1.3.2
astroid==2.4.2
astunparse==1.6.3
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bleach==3.1.5
bravado==10.4.3
bravado-core==5.16.0
btrfsutil==1.2.0
CacheControl==0.12.6
cachetools==4.2.0
catfish==1.4.13
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
contextlib2==0.6.0.post1
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gitdb2==2.0.6
GitPython==3.0.5
gmpy2==2.1.0b5
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
guake==3.7.0
gufw==20.4.0
h5py==2.10.0
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==1.6.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.1.0
ipywidgets==7.5.1
isort==5.5.1
Jade-Application-Kit==3.5.3
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
json5==0.9.5
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab-server==1.2.0
Keras-Preprocessing==1.1.2
keyutils==0.6
kiwisolver==1.2.0
lazy-object-proxy==1.5.1
lensfun==0.3.95
lightdm-gtk-greeter-settings==1.2.2
lit==0.10.1.dev0
lockfile==0.12.2
louis==3.15.0
lxml==4.5.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
menulibre==2.2.1
mistune==0.8.4
monotonic==1.5
more-itertools==8.5.0
mpmath==1.1.0
msgpack==1.0.0
msgpack-python==0.5.6
mugshot==0.4.2
nbconvert==5.6.1
nbformat==5.0.6
neptune-client==0.4.98
neptune-notebooks==0.0.12
notebook==6.1.1
npyscreen==4.10.5
numpy==1.19.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-contrib-python==4.2.0.34
openpyxl==3.0.3
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
path==13.1.0
path.py==12.4.0
pbr==5.5.0
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.14.0
psutil==5.7.2
ptyprocess==0.6.0
PuLP==2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycodestyle==2.6.0
pycups==2.0.1
pycurl==7.43.0.6
pyflakes==2.2.0
Pygments==2.6.1
PyGObject==3.36.1
PyJWT==1.7.1
pylint==2.5.3
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.0
pyrsistent==0.17.1
python-dateutil==2.8.1
python-distutils-extra==2.39
pytoml==0.1.21
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
QtAwesome==0.6.0
qtconsole==4.7.3
QtPy==1.9.0
rados==2.0.0
rbd==2.0.0
reportlab==3.5.49
requests==2.24.0
requests-oauthlib==1.3.0
resolvelib==0.4.0
retrying==1.3.3
rfc3987==1.3.8
rgw==2.0.0
rope==0.17.0
rsa==4.6
scipy==1.5.2
Send2Trash==1.5.0
simplejson==3.17.0
sip==4.19.24
six==1.15.0
smmap2==2.0.5
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
strict-rfc3339==0.7
swagger-spec-validator==2.4.3
sympy==1.6.2
team==1.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
udiskie==2.2.0
ufw==0.36
urllib3==1.25.10
wcwidth==0.2.5
webcolors==1.10
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
zipp==3.1.0
